.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 12.5vh;
}

.nav-fill {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 100% 3%;
    text-decoration: none;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a:active {
    background-color: #888888;
    color: #000000;
}

.navbar img {
    height: 10.5vh;
    padding: .5vh .5vh;
}

body {
    background-color: rgb(230, 252, 255);
}

.quotecontainer {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 30vw;
    min-width: 300px;
    padding: auto;
    background-color: transparent;
    text-align: center;
}

.quote {
    max-width: 300px;
    padding: 20px;
    background-color: transparent;
    text-align: left;
}

.quote p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote .myname {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote .welcome {
    font-size: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 810px) {
    .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 12.5vh;
}
.nav-fill {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 100% 3%;
    text-decoration: none;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a:active {
    background-color: #888888;
    color: #000000;
}

.navbar img {
    display: none;
}

body {
    background-color: rgb(230, 252, 255);
}

.quotecontainer {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25vw, -40%);
    width: 30vh;
    min-width: 300px;
    padding: auto;
    background-color: transparent;
    text-align: center;
}

.quote {
    max-width: 300px;
    padding: 20px;
    background-color: transparent;
    text-align: left;
}

.quote p {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.quote .myname {
    font-weight: bolder;
    font-size: 250%;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote .welcome {
    font-size: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 300px) {

.quote p {
    font-size: 8vw;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote .myname {
    font-weight: bolder;
    font-size: 15vw;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote .welcome {
    font-size: 9vw;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

}

}
.bookscontainer{
    position: absolute;
    display: flex;
    top: 14.25vh;
    justify-content: space-between;
    padding: 0;
    height: 100%;
    right: 8px;
    left: 8px;
    background-color: violet;
    text-align: justify;
}

.book1{
    width: 100%;
    background-color: green;
    height: 20vw;
    text-align: left;
}

.book1 img{
    display: flex;
    width: auto;
    height: 80%;
}

.book1 p2{
    
}

.bookscontainer a{
    padding: 0%;
    display: flexbox;
    border-color: #000000;
    width: 25%;
    height: 100%;
    color: black;
}

.bookscontainer a:hover {
    background-color: transparent;
    color: black;
}

.bookscontainer p1{
    display: flex;
    border-style: solid;
    border-color: #000000;
    padding: 5% 5%;
    color: black;
    text-align: left;
    font-size: 180%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}